@import "../public/static/tabler/dist/css/tabler.min.css";
@import "../public/static/tabler/dist/css/tabler-payments.min.css";
@import "../public/static/tabler/dist/css/tabler-vendors.min.css";
@import "../public/static/tabler/dist/css/tabler-flags.min.css";
@import "../public/static/tabler/dist/css/demo.min.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
